[submodule "Geek-Plugin-RabbitMQ"]
	path = geek-plugins/Geek-Plugin-RabbitMQ
	url = https://gitee.com/geek-xd/geek-plugin-rabbitmq.git
[submodule "Geek-Plugin-Netty"]
	path = geek-plugins/Geek-Plugin-Netty
	url = https://gitee.com/geek-xd/geek-plugin-netty.git
[submodule "Geek-Plugin-Aliyun-OSS"]
	path = geek-plugins/Geek-Plugin-Aliyun-OSS
	url = https://gitee.com/geek-xd/geek-plugin-aliyun-oss.git
[submodule "Geek-Plugin-Redis"]
	path = geek-plugins/Geek-Plugin-Redis
	url = https://gitee.com/geek-xd/geek-plugin-redis.git
[submodule "Geek-Plugin-Ehcache"]
	path = geek-plugins/Geek-Plugin-Ehcache
	url = https://gitee.com/geek-xd/geek-plugin-ehcache.git
[submodule "Geek-Plugin-Minio"]
	path = geek-plugins/Geek-Plugin-Minio
	url = https://gitee.com/geek-xd/geek-plugin-minio.git
[submodule "Geek-Plugin-Websocket"]
	path = geek-plugins/Geek-Plugin-Websocket
	url = https://gitee.com/geek-xd/geek-plugin-websocket.git
[submodule "geek-module-Quartz"]
	path = geek-module/geek-module-Quartz
	url = https://gitee.com/geek-xd/geek-module-quartz.git
[submodule "geek-module-Online"]
	path = geek-module/geek-module-Online
	url = https://gitee.com/geek-xd/geek-module-online.git
[submodule "geek-module-Message"]
	path = geek-module/geek-module-Message
	url = https://gitee.com/geek-xd/geek-module-message.git
[submodule "geek-module-Generator"]
	path = geek-module/geek-module-Generator
	url = https://gitee.com/geek-xd/geek-module-generator.git
[submodule "geek-module-From"]
	path = geek-module/geek-module-From
	url = https://gitee.com/geek-xd/geek-module-from.git
[submodule "geek-module-Flowable"]
	path = geek-module/geek-module-Flowable
	url = https://gitee.com/geek-xd/geek-module-flowable.git
[submodule "Geek-Scene-Pay"]
	path = geek-scenes/Geek-Scene-Pay
	url = https://gitee.com/geek-xd/geek-scene-pay.git
[submodule "Geek-Scene-Auth"]
	path = geek-scenes/Geek-Scene-Auth
	url = https://gitee.com/geek-xd/geek-scene-auth.git
[submodule "geek-plugins/Geek-Plugin-RabbitMQ"]
	path = geek-plugins/Geek-Plugin-RabbitMQ
	url = https://gitee.com/geek-xd/geek-plugin-rabbitmq.git
[submodule "geek-plugins/Geek-Plugin-Netty"]
	path = geek-plugins/Geek-Plugin-Netty
	url = https://gitee.com/geek-xd/geek-plugin-netty.git
[submodule "geek-plugins/Geek-Plugin-Aliyun-OSS"]
	path = geek-plugins/Geek-Plugin-Aliyun-OSS
	url = https://gitee.com/geek-xd/geek-plugin-aliyun-oss.git
[submodule "geek-plugins/Geek-Plugin-Redis"]
	path = geek-plugins/Geek-Plugin-Redis
	url = https://gitee.com/geek-xd/geek-plugin-redis.git
[submodule "geek-plugins/Geek-Plugin-Ehcache"]
	path = geek-plugins/Geek-Plugin-Ehcache
	url = https://gitee.com/geek-xd/geek-plugin-ehcache.git
[submodule "geek-plugins/Geek-Plugin-Minio"]
	path = geek-plugins/Geek-Plugin-Minio
	url = https://gitee.com/geek-xd/geek-plugin-minio.git
[submodule "geek-plugins/Geek-Plugin-Websocket"]
	path = geek-plugins/Geek-Plugin-Websocket
	url = https://gitee.com/geek-xd/geek-plugin-websocket.git
[submodule "geek-module/geek-module-Quartz"]
	path = geek-module/geek-module-Quartz
	url = https://gitee.com/geek-xd/geek-module-quartz.git
[submodule "geek-module/geek-module-Online"]
	path = geek-module/geek-module-Online
	url = https://gitee.com/geek-xd/geek-module-online.git
[submodule "geek-module/geek-module-Message"]
	path = geek-module/geek-module-Message
	url = https://gitee.com/geek-xd/geek-module-message.git
[submodule "geek-module/geek-module-Generator"]
	path = geek-module/geek-module-Generator
	url = https://gitee.com/geek-xd/geek-module-generator.git
[submodule "geek-module/geek-module-Form"]
	path = geek-module/geek-module-Form
	url = https://gitee.com/geek-xd/geek-module-form.git
[submodule "geek-module/geek-module-Flowable"]
	path = geek-module/geek-module-Flowable
	url = https://gitee.com/geek-xd/geek-module-flowable.git
[submodule "geek-scenes/Geek-Scene-Pay"]
	path = geek-scenes/Geek-Scene-Pay
	url = https://gitee.com/geek-xd/geek-scene-pay.git
[submodule "geek-scenes/Geek-Scene-Auth"]
	path = geek-scenes/Geek-Scene-Auth
	url = https://gitee.com/geek-xd/geek-scene-auth.git
[submodule "Geek-Module-Quartz"]
	path = geek-modules/Geek-Module-Quartz
	url = https://gitee.com/geek-xd/geek-module-quartz.git
[submodule "Geek-Module-Online"]
	path = geek-modules/Geek-Module-Online
	url = https://gitee.com/geek-xd/geek-module-online.git
[submodule "Geek-Module-Message"]
	path = geek-modules/Geek-Module-Message
	url = https://gitee.com/geek-xd/geek-module-message.git
[submodule "Geek-Module-Generator"]
	path = geek-modules/Geek-Module-Generator
	url = https://gitee.com/geek-xd/geek-module-generator.git
[submodule "Geek-Module-Form"]
	path = geek-modules/Geek-Module-Form
	url = https://gitee.com/geek-xd/geek-module-form.git
[submodule "Geek-Module-Flowable"]
	path = geek-modules/Geek-Module-Flowable
	url = https://gitee.com/geek-xd/geek-module-flowable.git
[submodule "geek-modules/Geek-Module-Quartz"]
	path = geek-modules/Geek-Module-Quartz
	url = https://gitee.com/geek-xd/geek-module-quartz.git
[submodule "geek-modules/Geek-Module-Online"]
	path = geek-modules/Geek-Module-Online
	url = https://gitee.com/geek-xd/geek-module-online.git
[submodule "geek-modules/Geek-Module-Message"]
	path = geek-modules/Geek-Module-Message
	url = https://gitee.com/geek-xd/geek-module-message.git
[submodule "geek-modules/Geek-Module-Generator"]
	path = geek-modules/Geek-Module-Generator
	url = https://gitee.com/geek-xd/geek-module-generator.git
[submodule "geek-modules/Geek-Module-Form"]
	path = geek-modules/Geek-Module-Form
	url = https://gitee.com/geek-xd/geek-module-form.git
[submodule "geek-modules/Geek-Module-Flowable"]
	path = geek-modules/Geek-Module-Flowable
	url = https://gitee.com/geek-xd/geek-module-flowable.git
